<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">Gamers++</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/home']" ><span class="glyphicon glyphicon-home"></span>Home</a></li>
        </ul>
        <form class="navbar-form navbar-left">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/login']" ><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isTeacher" ><a [routerLink]="['/addcourse']"><span class="glyphicon glyphicon-plus"></span>Add course</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isTeacher" ><a [routerLink]="['/addgame']"><span class="glyphicon glyphicon-knight"></span>Add Game</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="isStudent"><a [routerLink]="['/enrollIn']"><span class="glyphicon glyphicon-cloud-upload"></span>Join Course</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/courses']"><span class="glyphicon glyphicon-book"></span>Courses</a></li>
        </ul>
    </div>
</nav>
<br><br>
<div class="col-md-6 col-md-offset-3">
    <h2>Add Game </h2>
    <div>
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" role="form" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gamename.valid }">
                <label for="gamename">Game name</label>
                <input [disabled]="mode=='Edit!'" type="text" class="form-control" name="gamename" [(ngModel)]="game.name" #gamename="ngModel"
                    required />
                <div *ngIf="f.submitted && !gamename.valid" class="help-block">Game name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
                <label for="description">Description</label>
                <input [disabled]="mode=='Edit!'" class="form-control" name="description" [(ngModel)]="game.description" #description="ngModel"
                    required />
                <div *ngIf="f.submitted && !description.valid" class="help-block">description is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !levelno.valid }">
                <label for="levelno">No of levels</label>
                <input [disabled]="mode=='Edit!'" type="number" class="form-control" min="1" name="levelno" [(ngModel)]="game.levelno" #levelno="ngModel"
                    required/>
                <div *ngIf="f.submitted && !levelno.valid" class="help-block">No of levels is required</div>
            </div>
            <label>Courses :</label>
            <select [(ngModel)]="game.course" name="coursesList" [disabled]="mode=='Edit!'" required>
                        <option *ngFor="let x of course" 
                           [ngValue]=x >{{x.courseName}}</option>
             </select>
            <div>
                <label>Type of your game:</label>
                <div>
                    <input [disabled]="mode=='Edit!'" required type="radio" [ngModel]="{checked: game.type == 'true-false'}" (ngModelChange)="game.type='true-false'"
                        name="type" value="true-false">True/False<br>
                    <input [disabled]="mode=='Edit!'" required type="radio" [ngModel]="{checked: game.type == 'choice'}" (ngModelChange)="game.type='choice'"
                        name="type" value="choice">Choice<br>
                </div>
            </div>
            <div class="form-group last">
                <div class="col-sm-offset-3 col-sm-9">
                    <button (click)="OnDone()" type="submit" class="btn btn-success btn-sm">{{mode}}</button>
                </div>
            </div>
        </form>
    </div>
    <!-- true-false game -->
    <div [hidden]="typetf">
        <form name="form" (ngSubmit)="f.form.valid" role="form" #f="ngForm" novalidate>
             <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !levelname.valid }">
                <label for="levelname">Level Name</label>
                <input type="text" class="form-control" name="levelname" [(ngModel)]="level.levelName" #question="ngModel" required />
                <div *ngIf="f.submitted && !levelname.valid" class="help-block">level name is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !question.valid }">
                <label for="question">Question</label>
                <input type="text" class="form-control" name="question" [(ngModel)]="level.question" #question="ngModel" required />
                <div *ngIf="f.submitted && !question.valid" class="help-block">Question is required</div>
            </div>
            <div class="form-group">
                <label>Right answer:</label>
                <div>
                    <input type="radio" [(ngModel)]="level.rightanswer" (ngModelChange)="level.rightanswer=1" name="rightanswer" [value] =1>True<br>
                    <input type="radio"  [(ngModel)]="level.rightanswer"  (ngModelChange)="level.rightanswer=2" name="rightanswer" [value]=2>false<br>
                </div>
            </div>
            <div class="form-group last">
                <div class="col-sm-offset-3 col-sm-9">
                    <button (click)="levelsEnd()" [disabled]="counter == game.levelno" type="submit" class="btn btn-success btn-sm">Next level</button>
                </div>
            </div>
        </form>
    </div>
    <!-- choice game -->
    <div [hidden]="typec">
        <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" role="form" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !question.valid }">
                <label for="question">Question</label>
                <input type="text" class="form-control" name="question" [(ngModel)]="level.question" #question="ngModel" required />
                <div *ngIf="f.submitted && !question.valid" class="help-block">Answer is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !choice1.valid }">
                <label for="choice1">Choice 1</label>
                <input type="text" class="form-control" name="choice1" [(ngModel)]="choicea" #choice1="ngModel" required />
                <div *ngIf="f.submitted && !choice1.valid" class="help-block">Answer is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !choice2.valid }">
                <label for="choice2">Choice 2</label>
                <input type="text" class="form-control" name="choice1" [(ngModel)]="choiceb" #choice2="ngModel" required />
                <div *ngIf="f.submitted && !choice2.valid" class="help-block">Answer is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !choice3.valid }">
                <label for="choice3">Choice 3</label>
                <input type="text" class="form-control" name="choice3" [(ngModel)]="choicec" #choice3="ngModel" required />
                <div *ngIf="f.submitted && !choice3.valid" class="help-block">Answer is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !choice4.valid }">
                <label for="choice4">Choice 4</label>
                <input type="text" class="form-control" name="choice4" [(ngModel)]="choiced" #choice4="ngModel" required />
                <div *ngIf="f.submitted && !choice4.valid" class="help-block">Answer is required</div>
            </div>
            <label>Right answer </label>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <label>Type of your game:</label>
                <div>
                    <input type="radio" [ngModel]="{checked:  level.rightanswer==1}" (ngModelChange)=" level.rightanswer=1" name="ans" value="1">{{choicea}}<br>
                </div>
                <div>
                    <input type="radio" [ngModel]="{checked:  level.rightanswer==2}" (ngModelChange)=" level.rightanswer=2" name="ans" value="2">{{choiceb}}<br>
                </div>
                <div>
                    <input type="radio" [ngModel]="{checked:  level.rightanswer==3}" (ngModelChange)=" level.rightanswer=3" name="ans" value="3">{{choicec}}<br>
                </div>
                <div>
                    <input type="radio" [ngModel]="{checked:  level.rightanswer==4}" (ngModelChange)=" level.rightanswer=4" name="ans" value="4">{{choiced}}<br>
                </div>
            </div>
        </form>
    </div>
</div>





<style>
    .panel-default {
        opacity: 0.9;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    *[role="form"] {
        opacity: 0.9;
        max-width: 530px;
        padding: 35px;
        margin: 0 auto;
        background-color: white;
        border-radius: 0.3em;
    }
    
    *[role="form"] h2 {
        margin-left: 5em;
        margin-bottom: 1em;
    }
</style>