<div *ngFor="let level of levels" [hidden]="hide">
    <div onload="claclength()">2y 7aga </div>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="homepage.html">Gamers++</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="homepage.html">Home</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
        <form class="navbar-form navbar-left">
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="welcomepage.html"><span class="glyphicon glyphicon-log-out"></span> LogOut</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="search.html"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="courses.html"><span class="glyphicon glyphicon-cloud"></span> Corces</a></li>
        </ul>
    </div>
</nav>
<div style="padding-top:auto;">
    <div [hidden]="success" class="alert alert-success">
        <strong>Success!</strong> a7sant yabni walahy .
    </div>
    <div [hidden]="fail" class="alert alert-danger">
        <strong>Fail!</strong> ya faaaaaaaaaaaaaaaaaashel .
    </div>
</div>
<div *ngFor="let level of levels">
    <div [hidden]="counter!=level.number">
        <div class="form-group">
            <label for="Question">Question</label><br>
            <label for="Question">{{level.question}}</label>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Answer</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4" id="choice">
                        <label class="radio-inline" style="margin-left:10px;">
                            <input name="dd" [ngModel]="{checked: rightanswer == 1}" (ngModelChange)="rightanswer=1"
                             type="radio" id="tRadio" value="1">{{level.answers[0]}}
                        </label>
                        <label class="radio-inline">
                            <input name="dd" [ngModel]="{checked: rightanswer == 2}" (ngModelChange)="rightanswer=2" 
                            type="radio" id="fRadio" value="2">{{level.answers[1]}}
                        </label>
                        <label class="radio-inline">
                            <input name="dd" [ngModel]="{checked: rightanswer == 3}" (ngModelChange)="rightanswer=3" 
                            type="radio" id="fRadio" value="3">{{level.answers[2]}}
                        </label>
                        <label class="radio-inline">
                            <input name="dd" [ngModel]="{checked: rightanswer == 4}" (ngModelChange)="rightanswer=4" 
                            type="radio" id="fRadio" value="4">{{level.answers[3]}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3">
            <button (click)="OnClick()" type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    </div>
</div>

<div [hidden]="cong">
    <img src="images/240_F_90046622_ndUsvkHoQF56Jjs1zwqSCNJIqQ0eV7g8.jpg" class="img-rounded" alt="Cinque Terre" width="875"
        height="400">
</div>